{% extends 'base.html' %}

{% block center_body %}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
            <div class="information clearfix">
                <a href="/user/myself_information/"><img src="{{ MEDIA_URL }}{{ user.ulogo }}" alt="头像"></a>
                <div class="information1 clearfix">
                    {% if user.ucheck_passOrfail == False %}
                        <a>未实名认证</a>
                    {% else %}
                        <a style="color: cyan">已实名认证</a>
                    {% endif %}
                </div>
            </div>
			<ul>
				<li><a href="{% url "df_user:info" %}" class="active">· 个人信息</a></li>
                <li><a href="{% url "df_user:check_user" %}">· 实名认证</a></li>
                <li><a href="{% url "df_user:publishers" %}">· 发布商品</a></li>
                <li><a href="{% url "df_user:changeInformation" %}">· 修改资料</a></li>
                <li><a href="{% url "df_user:changeInPwd" %}">· 修改密码</a></li>
				<li><a href="/user/order/1">· 全部订单</a></li>
				<li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user_name }}</li>
							<li><span>联系方式：</span>{{ user_phone }}</li>
							<li><span>联系地址：</span>{{ user_address }}</li>
						</ul>
				</div>
            <h3 class="common_title2">{{ explain }}</h3>
            {# 最近浏览暂未实现 #}
		</div>
	</div>
    {#  弹窗提示  #}

{% endblock center_body %}